nav
  margin-left: 220px
  display: flex
  border-right: 1px #e3e3e3 solid
  a
    text-decoration: none
    color: black
    height: 10px
    padding: 20px
    display: block
    border-left: 1px #e3e3e3 solid
    &:hover
      background-color: #e3e3e3
