<h1>Mon profil</h1>
<p *ngIf="message">{{message}}</p>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">

  <label for="image" [style.background-image]="'url(' + profile.picture + ')'"></label>
  <input type="file" name="image" id="image" accept="image/*" (change)="onFileAdded($event)" />
  <label for="lastName">Votre nom</label>
  <input type="text" name="lastName" id="lastName" [ngModel]="profile.lastName" />
  <label for="firstName">Votre prénom</label>
  <input type="text" name="firstName" id="firstName" [ngModel]="profile.firstName" />
  <mat-form-field appearance="fill">
    <mat-label>Votre date de naissance</mat-label>
    <input matInput [matDatepicker]="picker" name="birthDate" id="birthDate" [ngModel]="profile.birthDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button type="submit" class="save-profile">Enregistrer</button>
  <button (click)="openDialog()" class="remove-account">Supprimer mon compte</button>
</form>


