<h1>Réseau Groupomania</h1>
<div class="home">
  <form *ngIf="connected" (ngSubmit)="onSubmitPublication(f)" #f="ngForm">
    <h2>Publier sur le réseau Groupomania</h2>
    <label for="content">Ecrivez quelque chose</label>
    <textarea name="content" id="content" ngModel></textarea>
    <label for="image" class="label-image">Ajouter une image</label>
    <input type="file" name="image" id="image" accept="image/*" (change)="onFileAdded($event)"/>
    <button>Publier</button>
  </form>
  <div *ngFor="let publication of publications">
    <div class="publication">
      <div class="header-publication">
        <div class="author">
          <div [style.background-image]="'url(' + profile.getUrlPicture(publication.Profile.picture) + ')'" class="profile-picture"></div>
          <b>{{publication.Profile.lastName}} {{publication.Profile.firstName}}</b> posté <b>{{publication.createdAt | dateInterval}}</b>
        </div>
        <span *ngIf="admin || auth.getId() === publication.UserId" (click)="onDeletePublication(publication.id)" class="delete">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </span>
      </div>
      <div class="content">{{publication.content}}</div>
      <div class="illustration" *ngIf="publication.picture">
        <img src="{{ profile.getUrlPicture(publication.picture) }}" alt="publication de {{publication.Profile.lastName}} {{publication.Profile.firstName}}" />
      </div>
      <div *ngIf="connected" class="action">
        <span *ngIf="!existingVote(publication.Vote)" (click)="like(publication.id)">J'aime ({{countVote(publication.Vote)}})</span>
        <span *ngIf="existingVote(publication.Vote)" (click)="dislike(publication.id)">Je n'aime plus ({{countVote(publication.Vote)}})</span>
        <span (click)="focusInputComment(publication.id)" >Commenter</span>
      </div>
      <div class="comments">
        <div *ngIf="offsetComments[publication.id] !== 0" (click)="loadComments(publication.id)" class="show-more">Voir les commentaires précédents</div>
        <div *ngFor="let comment of publication.Comment|reverse" class="comment">
          <div class="profile-picture" [title]="comment.createdAt|dateInterval" [style.background-image]="'url(' + profile.getUrlPicture(comment.User.Profile.picture) + ')'"></div>
          <div class="content">
            <div class="name">
              <b>{{comment.User.Profile.lastName}} {{comment.User.Profile.firstName}}</b>
              <span (click)="onDeleteComment(publication.id, comment.id)" class="delete" *ngIf="publication.UserId === auth.getId() || admin"><fa-icon [icon]="faTrashAlt"></fa-icon></span>
            </div>
            <div class="message">{{comment.content}}</div>
          </div>
        </div>
        <form *ngIf="connected" (ngSubmit)="onSubmitComment(f)" #f="ngForm">
          <input type="hidden" id="publicationId" name="publicationId" [ngModel]="publication.id" />
          <label>Vous pouvez commenter la publication <input type="text" name="comment" [id]="'input-comment-' + publication.id" placeholder="Écrivez un commentaire..." ngModel /></label>
        </form>
      </div>
    </div>
  </div>

</div>
