<div *ngIf="!connected" class="login">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label title="Votre email">→ <input type="email" placeholder="Votre email" name="email" ngModel /></label>
    <label title="Votre mot de passe">→ <input type="password" placeholder="Votre mot de passe" name="password" ngModel /></label>
    <button class="login-button">Connexion</button>
  </form>
</div>
<button *ngIf="connected" (click)="logout()" class="logout-button">Se deconnecter</button>

<div class="button-mobile-connect">
  <fa-icon *ngIf="!connected" [icon]="faSignInAlt" (click)="loginMobile ? loginMobile = false : loginMobile = true" size="2x"></fa-icon>
  <fa-icon *ngIf="connected" (click)="logout()" [icon]="faSignOutAlt" size="2x"></fa-icon>
</div>
<div *ngIf="!connected && loginMobile" class="login-mobile">
  <div class="arrow"></div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label><input type="email" placeholder="Votre email" name="email"  id="email" ngModel /></label>
    <label><input type="password" placeholder="Votre mot de passe" name="password" id="password" ngModel /></label>
    <button class="login-button">Connexion</button>
  </form>
</div>

