<h1>Réseau Groupomania</h1>
<div class="home">
  <form *ngIf="connected" (ngSubmit)="onSubmitPublication(f)" #f="ngForm">
    <h3>Publier sur le réseau Groupomania</h3>
    <label for="content">Ecrivez quelque chose, lien d'article ou vidéo YouTube</label>
    <textarea name="content" id="content" ngModel></textarea>
    <label for="image" class="label-image">Ajouter une image</label>
    <input type="file" name="image" id="image" accept="image/*" (change)="onFileAdded($event)"/>
    <button>Publier</button>
  </form>

  <div *ngFor="let publication of publications">
    <div class="publication">
      <span class="author">Publication de <b>{{publication.Profile.lastName}} {{publication.Profile.firstName}}</b> posté <b>{{publication.createdAt | dateInterval}}</b></span>
      <span class="content">{{publication.content}}</span>
    </div>
  </div>

</div>
