<h1>Réseau Groupomania</h1>
<div class="home">
  <form *ngIf="connected" (ngSubmit)="onSubmitPublication(f)" #f="ngForm">
    <h3>Publier sur le réseau Groupomania</h3>
    <label for="content">Ecrivez quelque chose, lien d'article ou vidéo YouTube</label>
    <textarea name="content" id="content" ngModel></textarea>
    <label for="image" class="label-image">Ajouter une image</label>
    <input type="file" name="image" id="image" accept="image/*" (change)="onFileAdded($event)"/>
    <button>Publier</button>
  </form>

  <div *ngFor="let publication of publications">
    <div class="publication">
      <div class="header-publication">
        <div class="author">
          <div [style.background-image]="'url(' + getUrlPicture(publication.Profile.picture) + ')'" class="profile-picture"></div>
          <b>{{publication.Profile.lastName}} {{publication.Profile.firstName}}</b> posté <b>{{publication.createdAt | dateInterval}}</b>
        </div>
        <span *ngIf="auth.getAdmin() || auth.getId() === publication.UserId" (click)="onDeletePublication(publication.id)" class="delete">Supprimer</span>
      </div>
      <div class="content">{{publication.content}}</div>
      <div class="illustration" *ngIf="publication.picture">
        <img src="{{ getUrlPicture(publication.picture) }}" alt="publication de {{publication.Profile.lastName}} {{publication.Profile.firstName}}" />
      </div>
    </div>
  </div>

</div>
